.button {
	border: 5px solid black;
	height: 50px;
	width: 150px;
	background: black;
	color: green;
	text-align: center;
	padding:15px;

}
body {
	background:dodgerblue;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 20px
}
h1 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: yellow;

}