.button {
	border: 1px solid black;
	height: 50px;
	width: 150px;
	background: white;
	color: black;
	text-align: center;
	padding:10px;
	margin-top:20px;

}
.stuff {
	padding-top: 100px;
	padding-bottom: 100px;
}
body {
	background: white;
	font-family: 'Maven Pro', sans-serif;
	font-size: 20px
	text-align:center;
	margin:auto;
	position: relative;
}
h1 {
	font-family: 'Maven Pro', sans-serif;
	color: black;
	text-align: center;
	margin:auto;
}
div {
	text-align:center;
	margin:auto;
}
